body{
  background-color: aqua;
}
nav{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: blue;
  }
  
  nav a{
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
  }
  
  nav a:visited{
    color: hotpink;
  }
  
  nav a:hover{
  color: black;
  }

  h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }